<div class="navbar">
    <div class="navbar-left">
        <div class="nav-left-icon">
            <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="page-title">
            <h5>User's List</h5>
        </div>
    </div>

    <div class="navbar-right">
        <div class="nav-right-icon">
            <i class="fas fa-clipboard-list"></i>
        </div>
    </div>
</div>


<div class="page-class">
    <div class="load-spinner" *ngIf="spinner">
        <mat-spinner strokeWidth="3" diameter="35" class="spinner-circle" ></mat-spinner>
    </div>
    <div class="winner-page">

        <div class="winner-card" *ngFor="let ulist of usersList" (click)="gotoUpdate(ulist.id)">
            <div class="win-icon">
                <img src="assets/icon/winner.svg" alt="winner">
            </div>

            <div class="win-details">
                <h4>{{ulist.name}}</h4>
                <p>{{ulist.mobile_no}}</p>
            </div>
        </div>

        <a routerLink="/usersAdd/Add/0"  class="report-request-btn">
            <i class="fas fa-plus"></i>
        </a>

    </div>
</div>