<div class="navbar">
    <div class="navbar-left">
        <div class="nav-left-icon">
            <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="page-title">
            <h5>Lottery Winners</h5>
        </div>
    </div>

    <div class="navbar-right">
        <div class="nav-right-icon">
            <i class="fas fa-trophy"></i>
        </div>
    </div>
</div>


<div class="page-class">
    <div class="winner-page">

        <div class="winner-card price-1st" *ngFor="let winner of winnerList">
            <div class="win-icon">
                <img src="assets/icon/winner.svg" alt="winner">
            </div>

            <div class="win-details">
                <h4>{{winner.lottery_name}}</h4>
                <h4>{{winner.user}}</h4>
                <p>{{winner.ticket}}</p>
                <p>{{winner.lottery_date}}</p>
            </div>

            <div class="win-amount">
                &#x20B9; {{winner.amount}}
            </div>

            <div *ngIf="winner.prize == 1" class="win-price">{{winner.prize}}<span>st</span></div>
            <div *ngIf="winner.prize == 2" class="win-price">{{winner.prize}}<span>nd</span></div>
            <div *ngIf="winner.prize == 3" class="win-price">{{winner.prize}}<span>rd</span></div>
            <div *ngIf="winner.prize > 3" class="win-price">{{winner.prize}}<span>th</span></div>
        </div>

    </div>
</div>