<div class="navbar">
    <div class="navbar-left">
        <div class="nav-left-icon">
            <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="page-title">
            <h5>Lottery Winners</h5>
        </div>
    </div>

    <div class="navbar-right">
        <div class="nav-right-icon">
            <i class="fas fa-trophy"></i>
        </div>
    </div>
</div>


<div class="page-class">
    <div class="winner-page">

        <div class="winner-card price-1st">
            <div class="win-icon">
                <img src="../../../assets/icon/winner.svg" alt="winner">
            </div>

            <div class="win-details">
                <h4>Arun Kumar</h4>
                <p>LUC64555712333</p>
            </div>

            <div class="win-amount">
                &#x20B9; 200
            </div>

            <div class="win-price">1<span>st</span></div>
        </div>

        <div class="winner-card price-2nd">
            <div class="win-icon">
                <img src="../../../assets/icon/winner.svg" alt="winner">
            </div>

            <div class="win-details">
                <h4>Mathavan</h4>
                <p>LUC64555712333</p>
            </div>

            <div class="win-amount">
                &#x20B9; 400
            </div>

            <div class="win-price">2<span>nd</span></div>
        </div>

        <div class="winner-card price-3rd">
            <div class="win-icon">
                <img src="../../../assets/icon/winner.svg" alt="winner">
            </div>

            <div class="win-details">
                <h4>Saravana</h4>
                <p>LUC64555712333</p>
            </div>

            <div class="win-amount">
                &#x20B9; 100
            </div>

            <div class="win-price">3<span>rd</span></div>
        </div>

        <div class="winner-card">
            <div class="win-icon">
                <img src="../../../assets/icon/winner.svg" alt="winner">
            </div>

            <div class="win-details">
                <h4>Saravana</h4>
                <p>LUC64555712333</p>
            </div>

            <div class="win-amount">
                &#x20B9; 150
            </div>

            <div class="win-price">4<span>th</span></div>
        </div>

        <div class="winner-card">
            <div class="win-icon">
                <img src="../../../assets/icon/winner.svg" alt="winner">
            </div>

            <div class="win-details">
                <h4>Arun</h4>
                <p>LUC64555712333</p>
            </div>

            <div class="win-amount">
                &#x20B9; 50
            </div>

            <div class="win-price">5<span>th</span></div>
        </div>

    </div>
</div>