<div class="w100-vh100 align-center d-flex">
    <div class="success-page">
        <h3>Lucky Ticket</h3>
        <img src="assets/img/spinner.gif" style="width: 150px;"/>
        <div class="jumbotron countdown show" data-Date='2020/11/25 10:00:00'>
            <div class="running">
                 <timer>
                     <span class="days"></span>:<span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>
                 </timer>
                 
                 <div class="break"></div>
                 <div class="labels"><span>Days</span><span>Hours</span><span>Minutes</span><span>Seconds</span>
                 </div>
                 
             </div>
         </div>

        <button class="btn-style w-100 m-t-20" routerLink="/home" >Go Back</button>
    </div>
</div>

