<div class="app-menu" [ngClass]="menu ? 'menu-cls' : ''">
    <app-menu></app-menu>
    <div class="touch-menu-close" (click)="menuFunc();"></div>
</div>

<div class="home-layout">
    <div class="home-bg"></div>

    <div class="navbar home-nav">
        <div class="navbar-left">
            <div class="nav-left-icon">
                <button (click)="menuFunc();"><i class="fas fa-bars"></i></button>
            </div>
    
            <div class="page-title app-title">
                ADHIW Agent
            </div>
        </div>
    
        <div class="navbar-right">
            
        </div>
    </div>
    
    <div class="page-class">
        <div class="load-spinner" *ngIf="spinner">
            <mat-spinner strokeWidth="3" diameter="35" class="spinner-circle" ></mat-spinner>
        </div>
        <div class="user-detail-sec">
            <div class="user-avatar">
               {{getShortName(userDetails.name)}}
            </div>

            <div class="user-info">
                <h4>{{userDetails.name}}</h4>
                <p>{{userDetails.mobile_no}}</p>
            </div>
        </div>


        <div class="grid-menu">
            <div class="grid-col">
                <a routerLink="/usersList">
                    <div class="icon-grid-box">
                        <img src="assets/icon/new-user.svg" alt="new user">
                        <h5>Add User</h5>
                    </div>
                </a>
            </div>


            <div class="grid-col">
                <a routerLink="/agentList">
                    <div class="icon-grid-box">
                        <img src="assets/icon/man-in-suit-and-tie.svg" alt="Agent">
                        <h5>Agent</h5>
                    </div>
                </a>
            </div>

            <div class="grid-col">
                <a routerLink="/ticket">
                    <div class="icon-grid-box">
                        <img src="assets/icon/ticket.svg" alt="Tickets">
                        <h5>Tickets</h5>
                    </div>
                </a>
            </div>
            
        </div>

        <div class="scroll-sec winner-slider">

            <div class="sub-header">
                <div class="sec-title">
                    <h4>Winners</h4>
                </div>

                <div class="sub-link-right">
                    <a routerLink="/lotteryWinner">View All</a>
                </div>
            </div>


            <div class="scroll-container">
                <div class="scroll-stage">

                    <div class="scroll-item" *ngFor="let lwin of lastWinner">
                        <a routerLink="#">
                            <div class="scroll-content">
                                <img src="assets/icon/winner.svg" alt="winner">
        
                                <div class="scroll-dec">
                                    <h5>{{lwin.user}}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="event-section">
            <div class="event-card">
                <h4 class="lottery-date">{{nextLot.lottery_date}}</h4>
                <h3>{{nextLot.lottery_name}}</h3>
                <div class="ticket-timer">
                    {{nextLot.lottery_time}}

                    <div class="time-icon">
                        <i class="far fa-clock"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>