<div class="navbar">
    <div class="navbar-left">
        <div class="nav-left-icon">
            <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="page-title">
            <h5>Profile</h5>
        </div>
    </div>

    <div class="navbar-right">
        <div class="nav-right-icon">
            <a routerLink="/profile"><i class="fas fa-edit"></i></a>
        </div>
    </div>
</div>


<div class="page-class">
    <div class="prof-details-view">
         <div class="prof-details-row">
            <h4>Name</h4>
            <p>{{userDetails.name}}</p>
         </div>

         <!--<div class="prof-details-row">
            <h4>Last Name</h4>
            <p></p>
         </div>
         
         <div class="prof-details-row">
            <h4>Father Name</h4>
            <p></p>
          </div> -->
          
          <div class="prof-details-row">
            <h4>Mobile</h4>
            <p>+91 {{userDetails.mobile_no}}</p>
          </div>
          
          <!-- <div class="prof-details-row">
            <h4>Gender</h4>
            <p></p>
          </div>

          <div class="prof-details-row">
            <h4>Date of Birth</h4>
            <p></p>
          </div>

          <div class="prof-details-row">
            <h4>Address</h4>
            <p></p>
          </div> -->

          <div class="prof-details-row">
            <h4>City</h4>
            <p>{{userDetails.city}}</p>
          </div>

          <!-- <div class="prof-details-row">
            <h4>District</h4>
            <p></p>
          </div>

          <div class="prof-details-row">
            <h4>Pincode</h4>
            <p></p>
          </div> -->
          <div class="prof-details-row">
            <h4>A/C No</h4>
            <p>{{userDetails.bank_acc}}</p>
          </div>

          <div class="prof-details-row">
            <h4>Bank Name</h4>
            <p>{{userDetails.bank_name}}</p>
          </div>

          <div class="prof-details-row">
            <h4>Branch Name</h4>
            <p>{{userDetails.branch_name}}</p>
          </div>

          <div class="prof-details-row">
            <h4>IFSC Code</h4>
            <p>{{userDetails.ifsc_code}}</p>
          </div>

          <div class="prof-details-row">
            <h4>Account Holder Name</h4>
            <p>{{userDetails.acc_name}}</p>
          </div>
    </div>
</div>