<div class="navbar">
    <div class="navbar-left">
        <div class="nav-left-icon">
            <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="page-title">
            <h5>Add Ticket</h5>
        </div>
    </div>

    <div class="navbar-right">
        <div class="nav-right-icon">
            <i class="fas fa-ticket-alt"></i>
        </div>
    </div>
</div>

<div class="page-class">
    <div class="load-spinner" *ngIf="spinner">
        <mat-spinner strokeWidth="3" diameter="35" class="spinner-circle" ></mat-spinner>
    </div>
    <div class="profile-page">
        <div class="profile-form">
            <form (submit)="createTicket()">
                <mat-form-field>
                    <mat-label>Select Lottery Type</mat-label>
                    <mat-select  (selectionChange)="getLottery()" name="ltype" [(ngModel)]="details.ltype" id="ltype"  required >
                      <div *ngFor="let ltype of lotteryType">
                        <mat-option value="{{ltype}}" >{{ltype}}</mat-option>
                      </div>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select Lottery</mat-label>
                    <mat-select  (selectionChange)="getParticlot()" name="lottery_id" [(ngModel)]="details.lottery_id" id="lid"  required >
                      <div *ngFor="let lott of Lottery">
                        <mat-option value="{{lott.id}}" >{{lott.lottery_name}}</mat-option>
                      </div>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>User Mobile</mat-label>
                    <input matInput name="user" [(ngModel)]="details.user" type="text" (change)="getName()" required >
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput name="uname" [(ngModel)]="details.uname" type="text"  readonly >
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>No.of Tickets</mat-label>
                    <input matInput id="tCount" name="ticket_count" [(ngModel)]="details.ticket_count" type="text" (change)="checkMaxcount()"  required >
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Select Type</mat-label>
                    <mat-select id="stype" (selectionChange)="showTicket($event)" [(ngModel)]="details.type"  name="type" required>
                        <mat-option value="Random">Random Creation</mat-option>
                        <mat-option value="Manual">Manual Creation</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- <div class="mat-btn-group">
                    <mat-form-field>
                        <mat-label>Select Type</mat-label>
                        <mat-select id="stype" (selectionChange)="showTicket($event)" [(ngModel)]="details.type"  name="type" required>
                            <mat-option value="Random">Random Creation</mat-option>
                            <mat-option value="Manual">Manual Creation</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="mat-group-sec">
                          <div class="select-ticket">
                            <i class="fas fa-check"></i>
                          </div>
                      </div>
                  </div> -->

                  <mat-form-field>
                    <mat-label>Total Amount</mat-label>
                    <input matInput name="price" [(ngModel)]="details.price" type="text"  readonly >
                  </mat-form-field>

                <div class="text-center">
                    <button type="submit" class="btn-style"  ><i class="fa fa-check"></i>Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="cm-bottom-sheet full-h-sheet ticket-dts-sheet" [ngClass]="status ? 'open-checker' : 'close-checker'">
    <div class="close-space" (click)="closePopup();"></div>                
    <div class="popup">
        <button class="close-bar close-icon" (click)="closePopup();"><i class="fas fa-times"></i></button>
         <div class="cm-sheet-content">
            <h4><i class="fas fa-ticket-alt"></i>Ticket Count : {{details.ticket_count}} </h4>
            <h4 class="txt-red">Select your ticket</h4>
            <div class="pin-row" *ngFor="let tick of Ticket">
                <label class="pin-share-check">
                    <input type="checkbox" name="ticket" (change)="storeTicket(tick,$event)"  id="sharecheck" >
                    <div class="pin-selected">
                        <div class="pin-details">
                            <h5 class="copy-pin"><span class="copy-text">{{tick}}</span></h5>
                        </div>
                    </div>
                </label>
            </div>
            
         </div>
    </div>
</div>