<div class="menu-view">
    <div class="menu-list">

      <div class="menu-top">
        <h2>Menu</h2>
      </div>

       <ul>
           <li><a routerLink="/profilev"><i class="fas fa-user"></i>Profile</a></li>

           <li><a routerLink="/lotteryWinner"><i class="fas fa-money-bill-alt"></i>Lottery Winners</a></li>

           <li><a routerLink="/agentList"><i class="fas fa-list-ul"></i>Agent List</a></li>

           <li><a routerLink="/usersList"><i class="fas fa-list-ol"></i>User's List</a></li>

           <li><a routerLink="/ticket"><i class="fas fa-ticket-alt"></i>Tickets</a></li>

           <!-- <li><a routerLink="/wallet"><i class="fas fa-wallet"></i>Wallet</a></li> -->

           <li><a routerLink="/changePassword"><i class="fas fa-unlock-alt"></i>Change Password</a></li>

           <li><a (click)="logout()" ><i class="fas fa-power-off"></i>Logout</a></li>
       </ul>

        <div class="version-no"><i class="fas fa-mobile-alt"></i> Version v1.0</div>
    </div>
</div> 
