<div class="wallet-page">
    <div class="navbar wallet-nav">
        <div class="navbar-left">
            <div class="nav-left-icon">
                <a routerLink="/home"><i class="fas fa-arrow-left"></i></a>
            </div>
    
            <div class="page-title">
                <h5>Wallet</h5>
            </div>
        </div>
    
        <div class="navbar-right">
            <div class="nav-right-icon">
                <i class="fas fa-wallet"></i>
            </div>
        </div>
    </div>

    
<div class="wallet-page">
    <div class="wallet-amount">
        <h2>&#x20B9; 125 /-</h2>
        <p>Wallet Amount</p>
    </div>

    <div class="wallet-list-sec">

        <div class="wallet-list">
            <div class="w-details">
                <h5>Vengadesh</h5>
                <p>19.11.2020</p>
            </div>

            <div class="w-crd-amount">
                &#x20B9; 25
            </div>
        </div>

        <div class="wallet-list">
            <div class="w-details">
                <h5>Vengadesh</h5>
                <p>19.11.2020</p>
            </div>

            <div class="w-crd-amount">
                &#x20B9; 25
            </div>
        </div>

        <div class="wallet-list">
            <div class="w-details">
                <h5>Vengadesh</h5>
                <p>19.11.2020</p>
            </div>

            <div class="w-crd-amount">
                &#x20B9; 25
            </div>
        </div>

        <div class="wallet-list">
            <div class="w-details">
                <h5>Vengadesh</h5>
                <p>19.11.2020</p>
            </div>

            <div class="w-crd-amount">
                &#x20B9; 25
            </div>
        </div>

        <div class="wallet-list">
            <div class="w-details">
                <h5>Vengadesh</h5>
                <p>19.11.2020</p>
            </div>

            <div class="w-crd-amount">
                &#x20B9; 25
            </div>
        </div>

        <div class="wallet-list">
            <div class="w-details">
                <h5>Vengadesh</h5>
                <p>19.11.2020</p>
            </div>

            <div class="w-crd-amount">
                &#x20B9; 25
            </div>
        </div>

    </div>
</div>


</div>